.root {
  background-color: var(--edit-post-bg-color) !important;
}

.fileField {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  button {
    width: 80%;

    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}

.title {
  input {
    color: var(--font-color);
    font-size: 42px;
    font-weight: 900;
    @media (max-width: 767.98px) {
      font-size: 36px;
    }
    @media (max-width: 479.98px) {
      font-size: 24px;
    }
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.image {
  width: 100%;
  @media (min-width: 991.98px) {
    max-height: 800px;
  }
}

.tags {
  input {
    color: var(--font-color);
  }
  margin: 15px 0;
}

.editor {
  margin: 30px -30px;

  :global {
    .cm-s-easymde {
      background-color: var(--edit-post-bg-color);
      color: var(--font-color);
      border: 0;
      font-size: 22px;
    }
    .editor-toolbar {
      border: 0;
      background-color: var(--background-color);
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}
